.filterProducte {
    background-color: whitesmoke;
    /* background-color: red; */
    min-width: 200px;
    position: relative;
}


.filterName{
    font-weight: 700;
    position: absolute;
    top: 15px;
    left: 10px;
}
.priceRangeInput {
    width: 100%;
}

.filterProducte input {
    margin-right: 10px;
    margin-top: 20px;
}

.closeByFilter {
    position: absolute;
    top: 18px;
    right: 10px;
    cursor: pointer;
}

@media screen and (max-width:550px) {
    .filterProducte {
        margin-top: 10px;
        z-index: 30;
        position: fixed;
        top: 0px;
        left: 0px;
        max-height: 100vh;
        overflow: scroll;
    }

    .closeByFilter,
    .filterName {
        top: 90px;
    }
}